<header>
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid header-container">
			<div class="logo">
				<a href="/#/"><img src="/images/logo2x.png"></a>
			</div>
			<nav class="main">
				<div ng-repeat="page in pagesData.pages" ui-sref-active="current"><a ui-sref="{{ page.state }}">{{ page.title }}</a></div>
			</nav>
			<div class="phone">
				<p ng-class="{hidden: admin}">(916) 847-<a ui-sref="login">2482</a></p>
				<div class="dropdown user-menu-user" ng-class="{show: admin}">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, Steven <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Settings</a></li>
						<li ng-click="logout()"><a href="#">Logout</a></li>
					</ul>
				</div>
				<button class="toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
</header>
