.admin-container {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1000px;
	/*border: 1px solid #CCC;*/
}
nav ul:before {
	display: table;
	content: " ";
}
nav ul {
	float: left;
	width: 100%;
	border-bottom: 1px solid #DDD;
}
nav li {
	position: relative;
	float: left;
	display: block;
	margin-bottom: -1px;
}
nav li a {
	display: block;
	padding: 10px 15px;
}
nav li.active a {
	border: 1px solid #DDD;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #fff;
}
.admin-content {
	clear: both;
	padding: 1.5rem;
}
.admin-tools {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 1rem 0;
}
.admin-search {
	width: 30%;

}
/*----------TABLE----------*/

.jobs-table.table > thead > tr > th, .jobs-table.table > thead > tr > td,
.jobs-table.table > tbody > tr > th, .jobs-table.table > tbody > tr > td{
  text-align: center;
  vertical-align: middle;
}
table .fa, table th a, table .glyphicon {
  cursor: pointer;
}
.firstJob  {
	border-top: 4px solid #ccc;
}
/*.lastJob {
	border-top: 6px solid #c09;
}*/
table input[type=number]::-webkit-inner-spin-button, 
table input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.order-buttons {
	float: left;
	margin-top: -5px;
	margin-bottom: -8px;
	margin-left: 10px;
	width: 16px;
	color: #bbb;
}
.order-buttons div:hover {
	color: #444;
}
.order-buttons div {
	height: 16px;
}
.order-number {
	float: right;
	margin-right: 10px;
}

/*----------MODAL----------*/
.img-well {
  min-height: 350px;
}
.upload {
  text-align: center;
  margin-top: 125px;
}
.segment {
	border: none;
	background: #DDD;
}
.segment-controls .glyphicon {
	padding: 6px 12px;
}
.glyphicon-plus {
	color: green;
}
.glyphicon-minus {
	color: red;
}

/*----------ADD JOB----------*/
.uploaded-image-div {
	display: inline-block;
	width: 116px;
	height: 116px;
	border: 4px solid #BCBCBC;
	margin: 5px;
	object-fit: contain;
	overflow: hidden;
}
.uploaded-image {

	/*width: 108px;*/
	height: 108px;
	margin: 0 auto;
}
