.admin-container {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1000px;
	/*border: 1px solid #CCC;*/
}
nav ul:before {
	display: table;
	content: " ";
}
nav ul {
	float: left;
	width: 100%;
	border-bottom: 1px solid #DDD;
}
nav li {
	position: relative;
	float: left;
	display: block;
	margin-bottom: -1px;
}
nav li a {
	display: block;
	padding: 10px 15px;
}
nav li.active a {
	border: 1px solid #DDD;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px; 
	background: #fff;
}
.admin-content {
	clear: both;
	padding: 1.5rem;
}
.admin-tools {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 1rem 0;
}
.admin-search {
	width: 30%;

}
/*----------TABLE----------*/

th, td {
  text-align: center;
}
table .fa, table th a, table .glyphicon {
  cursor: pointer;
}

/*----------MODAL----------*/
.img-well {
  min-height: 350px;
}
.upload {
  text-align: center;
  margin-top: 125px;
}
.segment {
	border: none;
	background: #DDD;
}
.segment-controls .glyphicon {
	padding: 6px 12px;
}
.glyphicon-plus {
	color: green;
}
.glyphicon-minus {
	color: red;
}