<div class="admin-tools">
    <button class="btn btn-default left" type="button" data-toggle="modal" data-target=".addJobModal" data-backdrop="static">Add a job</button>

    <input ng-model="searchJobs" type="text" class="form-control pull-right admin-search" placeholder="Search...">
</div>

<div ng-show="serviceData.loading">
    <img src="/images/loading.gif" class="loading-gif" />
</div>

<table class="table table-hover" ng-show="!serviceData.loading">
    <thead>
        <tr>
            <th>Order<i class="fa fa-caret-up"></i></th>
            <th>Job Name</th>
            <th>Style</th>
            <th>Type</th>
            <th>Description</th>
            <th>Images</th>
            <th>Publish</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <!-- Repeat Jobs -->
    <tbody>
        <tr ng-repeat="job in serviceData.jobs | filter: searchJobs">
            <th data-header="Header1">{{job.order}}</th>
            <td>{{job.name}}</td>
            <td>{{job.style}}</td>
            <td></td>
            <td>{{job.description | cut:true:15 }}</td>
            <td>{{job.images.lengtd}}</td>
            <td class-"checkbox"><input type="checkbox" checked></td>
            <td><i class="fa fa-pencil-square-o"></i></td>
            <td><i class="fa fa-trash-o" ng-click="delete(job.$id)"></i></td>
        </tr>
    </tbody>
</table>

<jobs-modal></jobs-modal>
