<div class="admin-tools">
    <div></div>
    <input ng-model="searchPages" type="text" class="form-control pull-right admin-search" placeholder="Search...">
</div>
<table class="table table-hover" ng-show="!serviceData.loading">
    <thead>
        <tr>
            <th>Order</th>
            <th>Title</th>
            <th>Type</th>
            <th>Segments/Content</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <!-- Repeat Jobs -->
    <tbody>
        <tr ng-repeat="page in serviceData.pages | filter : searchPages">
            <th data-header="Header1">{{ page.order }}</th>
            <td>{{ page.title }}</td>
            <td>{{ page.type }}</td>
            <td><span ng-if="page.segments">{{ page.segmentsList | cut:true:50 }}</span><span ng-if="page.content">{{ page.content | cut:true:50}}</span></td>
            <td data-toggle="modal" data-target=".addPageModal" data-backdrop="static"><i class="fa fa-pencil-square-o"></i></td>
            <td><i class="fa fa-trash-o" ng-click="delete(page.$id)"></i></td>
        </tr>
    </tbody>
</table>

<pages-modal></pages-modal>

<p>TO DO</p>
<ul>
    <li>remove "Add Pages" button <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
    <lh>MODAL</lh>
    <li>have modal bring up page info</li>
    <li>changes in modal update firebase</li>
    <ul>
        <lh>SEGMENTS</lh>
        <li>+ and - buttons for segments work</li>
        <li>dragging for reordering segments</li>
    </ul>
    <li>remove publish from html and firebase <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></li>
</ul>