<div class="modal fade addJobModal" id="jobModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Job</h3>
            </div>
            <form>
                <div ng-show="serviceData.loading">
                    <img src="/images/loading.gif" class="loading-gif" />
                </div>
                <div class="modal-body" ng-show="!serviceData.loading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well img-well">
                                <div ng-repeat="img in images" class="uploaded-image-div">
                                    <img ng-src="{{img}}" class="uploaded-image"/>
                                </div>
                                <div class="upload">
                                    <file-upload images="images" current-job-id="currentJobId"></file-upload>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Job Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="job.name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="style" class="col-sm-3 control-label">Style</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="job.style" placeholder="Ex. Alder & Paint">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="type" class="col-sm-3 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="job.type">
                                            <!-- <optgroup ng-repeat="page in serviceData.pages" ng-if="page.type == 'List of jobs'" label="{{ page.title }}">
                                                <option ng-repeat = "seg in page.segments">{{ seg }}</option>
                                            </optgroup> -->
                                            <optgroup label="Cabinetry">
                                                <option value="Kitchens">Kitchens</option>
                                                <option value="Bathrooms">Bathrooms</option>
                                                <option value="Home Offices">Home Offices</option>
                                                <option value="Entertainment Centers">Entertainment Centers</option>
                                            </optgroup>
                                            <optgroup label="Construction">
                                                <option value="Residential">Residential</option>
                                                <option value="Barns and Shopss">Barns and Shops</option>
                                                <option value="Other">Other</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <!-- ng-options="item as item.label for item in items track by item.id"  -->

                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" rows=3 class="form-control" ng-model="job.description" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="job.published" checked> Publish Immediately
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="deleteJob()">Cancel</button>
                    <button ng-click="updateJob()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
