<site-header></site-header>

<div class="main-container" ng-controller="adminCtrl">


		<form class="col-md-4 col-md-offset-4 login-form" ng-submit="login()">
			<h2>Please sign in</h2>
			<label for="inputEmail">Email Address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required="" autofocus="" ng-model="email">
			<label for="inputPassword">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="loading">Sign in</button>

			<!-- Loading gif -->
			<div class="logging-in-gif-div" ng-show="loading">
				<img src="/images/loading.gif" class="loading-gif-button" />
			</div>
		</form>

</div>
